<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medical record - お子さま一覧</title>
</head>
<body>
  <main class="login-main">
    <ul>
      <% @kids.each do |kid| %>
        <li>
          <%= link_to kid.name, select_kid_path(kid), class: "kid-link" %>
        </li>
       <% end %>
    </ul>

    <div class="form-actions">
        <%= link_to "新規登録", new_kid_path,class: "login-button" %>
    </div>
  </main>
</body>
</html>
