<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>medical record - 症状記録</title>
</head>
<body>
  <main class="login-main">

    <p>看病お疲れ様でした！！！</p>

    <!-- フッター -->
    <div class="footer">
      <p>
        <%= @kid.name %>
      </p>
    </div>
  </main>
</body>
</html>
